# This AT file is only used for compilation of patches - it is not actually used at runtime.

# PropertyFasterComparisonsInject (Enum)
public net.minecraft.block.properties.PropertyEnum field_177711_a # allowedValues
public net.minecraft.block.properties.PropertyEnum field_177710_b # nameToValue

# ChunkRendererDispatcherPatch
public net.minecraft.client.renderer.chunk.ChunkRenderWorker func_178474_a(Lnet/minecraft/client/renderer/chunk/ChunkCompileTaskGenerator;)V # processTask

# RenderGlobalImmediatePatch
public net.minecraft.client.renderer.RenderGlobal func_184385_a(IIIIIIZ)V # markBlocksForUpdate

# WorldLightingPatch
public net.minecraft.world.World func_175638_a(Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/world/EnumSkyBlock;)I # getRawLight

# ModelManagerSpeedhack
public net.minecraft.client.renderer.block.model.ModelManager field_174956_b # texMap
public net.minecraft.client.renderer.block.model.ModelManager field_174957_c # modelProvider
public net.minecraft.client.renderer.block.model.ModelManager field_174955_d # defaultModel
public net.minecraft.client.renderer.block.model.ModelManager field_174958_a # modelRegistry

# WorldGetCollisionBoxesInject
public net.minecraft.world.World func_191504_a(Lnet/minecraft/entity/Entity;Lnet/minecraft/util/math/AxisAlignedBB;ZLjava/util/List;)Z

# WorldRemovalPatch
protected net.minecraft.world.World field_147483_b # tileEntitiesToBeRemoved
protected net.minecraft.world.WorldServer field_80004_Q # updateEntityTick

# FastTextureAtlasSprite
public net.minecraft.client.renderer.texture.TextureAtlasSprite field_110982_k # animationMetadata

# CachingMobSpawnerLogicInject
protected net.minecraft.tileentity.MobSpawnerBaseLogic func_98279_f()Z # isActivated

# Farmland ghostloading patch
protected net.minecraft.block.BlockFarmland func_176530_e(Lnet/minecraft/world/World;Lnet/minecraft/util/math/BlockPos;)Z # hasWater

# ConditionPropertyValue optimizations
protected net.minecraft.client.renderer.block.model.multipart.ConditionPropertyValue func_188123_a(Lnet/minecraft/block/properties/IProperty;Ljava/lang/String;)Lcom/google/common/base/Predicate; # makePredicate